{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}

{% for article in articles_list %}
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold">{{ article.title }}</span> &middot;
            <span class="text-muted">by {{ article.author }} | {{ article.date }}</span>
        </div>
        <div class="card-body">
        {{ article.body }}
        </div>
        <div class="card-footer text-center text-muted no-text-decoration">
            <a href="{% url 'article_detail' article.pk %}">Read more</a>
        </div>
        <div class="card-footer">
            {% if article.comments.all %}
                {% for comment in article.comments.all %}
                    <p>
                        <span class="font-weight-bold">{{ comment.author }} &middot;</span>
                        {{ comment }}
                    </p>
                {% endfor %}
            {% else %}
                <p>No comments for this article yet.</p>
            {% endif %}
        </div>

    </div>
    <br/>
{% endfor %}
{% endblock content %}

